@import url('./partials/ckeditor_content.css');

img {
    width: 100%;
}

article img {
    width: auto;
    height: auto !important;
}

.breadcrumb-item + .breadcrumb-item::before {
    margin-top: 8px;
}
